/* 전체 100% */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 내용 담을 공간 전체의 100% */
.container {
    width: 100%;
    height: 100%;
}

/* header공간 container에서 15% */
header {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.row0 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

i.icon-left {
    width: 100%;
    height: 50%;
    font-size: 3em;
}

i.icon-left:hover {
    color: rgb(0, 255, 34);
}

p.title {
    width: 100%;
    height: 50%;
    font-size: 2em;
    text-align: center;
}

/* content container에서 80% */
section.content {
    width: 100%;
    height: 80%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.row1 {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.left {
    width: 90%;
    height: 90%;
    margin: 1%;
    display: flex;
    justify-content: center;
}

div.right {
    width: 90%;
    height: 90%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button.menu {
    background-color: white;
    outline: 0;
    font-size: 1em;
    width: 80%;
    height: 20%;
    padding: 1%;
    border-radius: 2em;
}

img {
    width: 100%;
    height: 100%;
    /* margin: 4%;
    padding: 1%; */
    background-color: rgba(0, 0, 0, 0.315);
    border-radius: 1em;
}

/* footer 전체의 5% */
footer {
    width: 100%;
    height: 5%;
}


