html, body {
    background-image: url("/static/img/port-675539.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;

}

/* 전체 100% */
div.container-all {
    width: 100%;
    height: 100%;
}

/* 전체의 10% */
header {
    width: 100%;
    height: 10%;
}

/* 전체의 85% */
section.container-main {
    width: 100%;
    height: 80%;
}

main {

}

aside {

}

/* 전체의 10% */
footer {
    width: 100%;
    height: 10%;
}