<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCTV</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/cctv.css">
    <script src="/static/js/cctv.js"></script>
</head>
<body>
    <div class="container-all">
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">VeDT</a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                      <li><a href="index.html">HOME</a></li>
                      <li class="active"><a href="cctv.html">CCTV</a></li>
                      <li><a href="data.html">DATA</a></li>
                      <li><a href="control.html">CONTROL</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                  </div>
                </div>
             
            </nav>
        </header>
        <section class="container-main">
            
            <!-- main start --> 
            <main>
                <div class="row-cctv12">
                   <img src="" id="cctv1" alt="cctv1">
                   <img src="" id="cctv2" alt="cctv2">
                </div>
                <div class="row-cctv34">
                    <img src="" id="cctv3" alt="cctv3">
                   <img src="" id="cctv4" alt="cctv4">
                </div>
            </main>
            <!-- main end-->
            <!-- aside start -->
            <aside>
    
            </aside>
            <!-- aside end -->
    
            
        </section>

        <!-- footer start-->
        <footer>
    
        </footer>
        <!-- footer end -->
    </div>
    


    <!-- bootstrap js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.2-dist/js/bootstrap.js"></script>
    
</body>
</html>